<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_socodd</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <property name="hibernate.validator.autoregister_listeners">false</property>
        <mapping class="com.socodd.entities.Transitaire" />
        <mapping class="com.socodd.entities.Departement" />
        <mapping class="com.socodd.entities.Equipe" />
        <mapping class="com.socodd.entities.Societe" />
        <mapping class="com.socodd.entities.Chargeur" />
        <mapping class="com.socodd.entities.Variete" />
        <mapping class="com.socodd.entities.Fournisseur" />
        <mapping class="com.socodd.entities.DocumentsJoindre" />
        <mapping class="com.socodd.entities.ApparielTraitement" />
        <mapping class="com.socodd.entities.TypeSac" />
        <mapping class="com.socodd.entities.TypeFournisseur" />
        <mapping class="com.socodd.entities.FabricationLots" />
        <mapping class="com.socodd.entities.ReceptionProduits" />
        <mapping class="com.socodd.entities.ProfileUtilisateur" />
        <mapping class="com.socodd.entities.PeriodeEmbarquement" />
        <mapping class="com.socodd.entities.Prefecture" />
        <mapping class="com.socodd.entities.Zone" />
        <mapping class="com.socodd.entities.Superviseur" />
        <mapping class="com.socodd.entities.SousPrefecture" />
        <mapping class="com.socodd.entities.Produit" />
        <mapping class="com.socodd.entities.ConsommablesPieces" />
        <mapping class="com.socodd.entities.Devise" />
        <mapping class="com.socodd.entities.FamilleConsommables" />
        <mapping class="com.socodd.entities.ItemsDebours" />
        <mapping class="com.socodd.entities.Marque" />
        <mapping class="com.socodd.entities.Qualite" />
        <mapping class="com.socodd.entities.CompagnieMaritime" />
        <mapping class="com.socodd.entities.Employee" />
        <mapping class="com.socodd.entities.Route" />
        <mapping class="com.socodd.entities.UniteMesure" />
        <mapping class="com.socodd.entities.Port" />
        <mapping class="com.socodd.entities.Localite" />
        <mapping class="com.socodd.entities.Analyse" />
        <mapping class="com.socodd.entities.Region" />
        <mapping class="com.socodd.entities.Usine" />
        <mapping class="com.socodd.entities.TypeMvmtParcAuto" />
        <mapping class="com.socodd.entities.Client" />
        <mapping class="com.socodd.entities.TypeClient" />
        <mapping class="com.socodd.entities.TypeFormat" />
        <mapping class="com.socodd.entities.Magasin" />
        <mapping class="com.socodd.entities.Utilisateur" />
        <mapping class="com.socodd.entities.TypeParcAuto" />
        <mapping class="com.socodd.entities.Nationalite" />
        <mapping class="com.socodd.entities.Transporteur" />
        <mapping class="com.socodd.entities.ContratAchat" />
        <mapping class="com.socodd.entities.Assurance" />
        <mapping class="com.socodd.entities.TypeMvmtStock" />
        <mapping class="com.socodd.entities.TypeContrat" />
        <mapping class="com.socodd.entities.ParcAuto" />
        <mapping class="com.socodd.entities.TypeCalcule" />
        <mapping class="com.socodd.entities.Producteur" />
    </session-factory>
</hibernate-configuration>
